html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('../images/DefaultBackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.homepageimg {
    margin-bottom: 60px;
    background-image: url('../images/HomePageBackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.loginregisterpageimg {
    margin-bottom: 60px;
    background-image: url('../images/LoginRegisterImg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.cardTransparent {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffffba;
    background-clip: border-box;
    border: 1px solid rgb(0, 0, 0, 0.120);
    border-radius: 0.15rem;
}

/*-----------LINK TEXT---------------*/

.StatusLink {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: black;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    text-decoration: none;
    text-decoration-style:solid;
    text-transform: uppercase;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

    .StatusLink:hover {
        box-shadow: inset 100px 0 0 0 #54b3d6;
        color: white;
    }


/*-------PROJECT CARDS STYLES--------*/

.wrapper {
    margin: 10vh;
}

.card {
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    border-radius: 20px;
    min-height: 450px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .card {
        min-height: 350px;
    }
}

@media (max-width: 420px) {
    .card {
        min-height: 300px;
    }
}

.card.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center center;
}

    .card.card-has-bg:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: inherit;
        -webkit-filter: grayscale(1);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    .card.card-has-bg:hover {
        transform: scale(0.98);
        box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
        background-size: 130%;
        transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    }

        .card.card-has-bg:hover .card-img-overlay {
            transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
            background: #234f6d;
            background: linear-gradient(0deg, rgba(4, 69, 114, 0.5) 0%, #044572 100%);
        }

.card .card-footer {
    background: none;
    border-top: none;
}

    .card .card-footer .media img {
        border: solid 3px rgba(255, 255, 255, 0.3);
    }

.card .card-meta {
    color: #ffffff;
}

.card .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card:hover {
    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

    .card:hover .card-body {
        margin-top: 30px;
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    }

.card .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: #234f6d;
    background: linear-gradient(0deg, rgba(35, 79, 109, 0.3785889356) 0%, #455f71 100%);
}

