@model ProjectViewModel
@{
    <h1>@Model.Name</h1>
    <small>@Model.Description</small>
    <div class="col-md-5 offset-md-5">
        <a class="btn btn-primary btn-lg" asp-controller="Subtask" asp-action="Add">Add Subtask</a>
    </div>
}
