@page

@{
    ViewData["Title"] = "Access Denied!";
}

<h1>@ViewData["Title"]</h1>
<h2>It seems that we cannot recognize you.</h2>
<small>&nbsp</small>
<small>&nbsp</small>
<h5>Please <a asp-controller="User" asp-action="Login">log in</a> to continue.</h5>
<small>&nbsp</small>
<h6>Don't have account yet? You can <a asp-controller ="User" asp-action="Register">register</a>  for free!</h6>
<hr />